<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: resources}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-4">
        <h1 class="mb-4 text-center">Le nostre pizze</h1>


        <!-- Form di ricerca -->
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-6 col-lg-4">
                <form th:action="@{/search}" method="get" class="d-flex">
                    <input type="text" name="keyword" class="form-control me-2" placeholder="Cerca pizza...">
                    <button type="submit" class="btn btn-secondary">Cerca</button>
                </form>
            </div>
        </div>

        <div class="text-center mb-3">
            <a href="/pizza/create" class="btn btn-success">Crea nuova pizza</a>
        </div>



        <!-- se non ci sono pizze, mostra questo messaggio -->
        <div th:if="${pizze.isEmpty()}">
            <p class="text-danger text-center">Nessuna pizza disponibile.</p>
        </div>


        <!-- card pizze -->
        <div th:if="${!pizze.isEmpty()}" class="row g-4">
            <div class="col-12 col-sm-6 col-md-4" th:each="pizza : ${pizze}">
                <div class="card h-100 pizza-card">
                    <img th:src="${pizza.foto}" class="card-img-top pizza-img" alt="pizza">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.nome}"></h5>
                        <p class="card-text" th:text="${pizza.descrizione}"></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted" th:text="${pizza.prezzo} + ' €'"></small>
                        <a th:href="@{/pizza/{id}(id=${pizza.id})}" class="btn btn-secondary btn-sm">Dettagli</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>